{% extends 'base.html' %}
{% block title %} Create Record {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="form__container">
        <form method="post" id="form-login" class="form-login form-create_record">

            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-secondary btn-login">Create</button>
        </form>
    </div>
{% endblock %}