{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        
        <div class="table-responsive">
            <table class="table table-striped-columns table-reportes" id="tablaReportes">
              <tr>
                  <th>ID</th>
                  <th>created at</th>
                  <th>Name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Adress</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip code</th>
              </tr>
              {% if records %}
              {% for record in records %}
              <tr>
                  <td><a href="{% url 'records' record.id %}">{{record.id}}</a></td>
                  <td>{{record.create_at}}</td>
                  <td>{{record.first_name}}</td>
                  <td>{{record.last_name}}</td>
                  <td>{{record.email}}</td>
                  <td>{{record.phone}}</td>
                  <td>{{record.adress}}</td>
                  <td>{{record.city}}</td>
                  <td>{{record.state}}</td>
                  <td>{{record.zipcode}}</td>
              </tr>
              {% endfor %}
              {% endif %}
          </table>
          </div>
    {% else %}
    <div class="form__container">
        <form action="{% url 'home' %}" method="post" id="form-login" class="form-login">

            {% csrf_token %}
            
            <label>Username</label>
            <input type="text" class="form-control mb-3" name="username" required>

            <label>Password</label>
            <input type="password" class="form-control mb-3" name="password" required>

            <button type="submit" class="btn btn-secondary btn-login">Login</button>
        </form>
    </div>
    {% endif %}
{% endblock %}