{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="form__container">
        <form action="{% url 'register' %}" method="post" id="form-login" class="form-login form-regist">

            {% csrf_token %}

            <label>Name</label>
            <input type="text" class="form-control mb-3" name="name">

            <label>Last name</label>
            <input type="text" class="form-control mb-3" name="lastname">

            <label>Email</label>
            <input type="email" class="form-control mb-3" name="email">
    
            <label>Username</label>
            <input type="text" class="form-control mb-3" name="username">

            <label>Password</label>
            <input type="password" class="form-control mb-3" name="password">

            <button type="submit" class="btn btn-secondary btn-login">Guardar</button>
        </form>
    </div>
{% endblock %}